/* --- Error container (desktop version) --- */
.container__section-section-desktop-div-container__error {
    padding: 15px;

    min-width: 400px;
    max-width: var(--container__section-section-desktop-div-container__task-max-width);
    max-height: var(--container__section-section-desktop-div-container__task-max-height);

    box-sizing: var(--container__section-section-desktop-div-container__task-box-sizing);
}


/* --- Error (desktop version) --- */
.container__section-section-desktop-div-container__error-error {
    width: 100%;

    background-image: linear-gradient(to bottom, var(--bg-error-gradient-start), var(--bg-error-gradient-end));

    border: 2px solid var(--b-error-color);
    border-radius: 15px;

    box-sizing: content-box;

    z-index: 0;
}

/* --- Error (desktop version) --- */
.container__section-section-desktop-div-container__error-error-top {
    margin: 15px auto;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Wifi off image (desktop version) --- */
.container__section-section-desktop-div-container__error-error-top-img {
    margin: 5px;
    padding: 5px;

    width: 90px;

    filter: drop-shadow(0 0 3px var(--general-font-light));
}

/* --- Error (desktop version) --- */
.container__section-section-desktop-div-container__error-error-middle {
    margin: 15px auto;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Error (desktop version) --- */
.container__section-section-desktop-div-container__error-error-middle-p {
    margin: 10px;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;

    color: var(--general-font);

    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: 32px;

    flex-grow: 1;

    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    overflow: hidden;

    display: block;

    filter: drop-shadow(0 0 3px var(--general-font-light));
}

/* --- Error (desktop version) --- */
.container__section-section-desktop-div-container__error-error-bottom {
    margin: 5px auto;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Error (desktop version) --- */
.container__section-section-desktop-div-container__error-error-bottom-p {
    margin: 10px;
    padding: 10px;

    color: var(--general-font-2);

    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: 20px;

    flex-grow: 1;

    text-align: center;

    overflow: hidden;

    display: block;
}

/* --- Error container (mobile version) --- */
.container__section-section-mobile-div-container__error {
    padding: 15px;

    min-width: 400px;
    max-width: var(--container__section-section-mobile-div-container__task-max-width);
    max-height: var(--container__section-section-mobile-div-container__task-max-height);

    box-sizing: var(--container__section-section-mobile-div-container__task-box-sizing);
}


/* --- Error (mobile version) --- */
.container__section-section-mobile-div-container__error-error {
    width: 100%;

    background-image: linear-gradient(to bottom, var(--bg-error-gradient-start), var(--bg-error-gradient-end));

    border: 2px solid var(--b-error-color);
    border-radius: 15px;

    box-sizing: content-box;

    z-index: 0;
}

/* --- Error (mobile version) --- */
.container__section-section-mobile-div-container__error-error-top {
    margin: 15px auto;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Wifi off image (mobile version) --- */
.container__section-section-mobile-div-container__error-error-top-img {
    margin: 5px;
    padding: 5px;

    width: 90px;

    filter: drop-shadow(0 0 3px var(--general-font-light));
}

/* --- Error (mobile version) --- */
.container__section-section-mobile-div-container__error-error-middle {
    margin: 15px auto;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Error (mobile version) --- */
.container__section-section-mobile-div-container__error-error-middle-p {
    margin: 10px;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;

    color: var(--general-font);

    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: 24px;

    flex-grow: 1;

    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    overflow: hidden;

    display: block;

    filter: drop-shadow(0 0 3px var(--general-font-light));
}

/* --- Error (mobile version) --- */
.container__section-section-mobile-div-container__error-error-bottom {
    margin: 5px auto;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Error (mobile version) --- */
.container__section-section-mobile-div-container__error-error-bottom-p {
    margin: 10px;
    padding: 10px;

    color: var(--general-font-2);

    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: 16px;

    flex-grow: 1;

    text-align: center;

    overflow: hidden;

    display: block;
}

@media screen and (max-width: 720px) {
    .container__section-section-desktop-div-container__error-error-top-img {
        width: 50px;
    }

    .container__section-section-desktop-div-container__error-error-middle-p {
        font-size: 32;
    }

    .container__section-section-desktop-div-container__error-error-bottom-p {
        font-size: 20;
    }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
    .container__section-section-desktop-div-container__error-error-top-img {
        width: 90px;
    }

    .container__section-section-desktop-div-container__error-error-middle-p {
        font-size: 32;
    }

    .container__section-section-desktop-div-container__error-error-bottom-p {
        font-size: 20;
    }
}