/* --- Import colors --- */
@import url(variables_style.css);

/* --- General --- */
* {
    margin: 0;
    padding: 0;

    text-decoration: none;
}

*::selection {
    background-color: transparent;
}

input::selection,
textarea::selection {
    background-color: var(--bg-input);
}


body {
    background-color: var(--bg-color);

    overflow: hidden;

    animation: wait-move-top var(--time-anim-move-top) var(--type-anim) forwards;
    animation-delay: calc(var(--time-delay) * 3 + 0.05s);
}

/* --- Header --- */
.main-content-top {
    box-sizing: content-box;

    animation: move-top var(--time-anim-move-top) var(--type-anim) forwards;

    opacity: 0;
}

.mct-img {
    margin: 0 auto;
    padding-top: 45px;

    width: 85px;
    height: auto;

    display: block;
}

.mct-text {
    margin: 10px;
    padding: 15px;

    color: var(--general-font);

    display: flex;

    justify-content: center;
    align-items: center;

    font-family: "Montserrat", sans-serif;
    font-weight: 430;
    font-size: 20px;
    font-style: bold;
}

@media screen and (max-width: 550px) {
    .mct-img {
        padding-top: 35px;

        width: 75px;
        height: auto;
    }

    .mct-text {
        font-size: 17px;
    }
}

/* --- Main content --- */
.main-content-bottom {
    width: 100%;
    height: 100%;
}

/* --- Task title --- */
.mcb-title {
    margin-bottom: 20px;

    min-width: 100%;

    box-sizing: content-box;

    animation: move-top var(--time-anim-move-top) var(--type-anim) forwards;
    animation-delay: var(--time-delay);

    opacity: 0;
}

.mcb-title-content {
    margin: 0 auto;
    padding: 10px 20px;

    background-image: linear-gradient(to bottom, var(--bg-task-gradient-start), var(--bg-task-gradient-end));

    width: 80%;
    max-width: 750px;

    height: 100%;

    box-sizing: border-box;

    border: 2px solid var(--b-color);
    border-radius: 13px;
}

/* --- Task title (text) --- */
.mcb-title-content-text {
    margin: 10px 0;

    width: 100%;

    color: var(--general-font);

    font-family: "Montserrat", sans-serif;
    font-weight: 430;
    font-size: var(--g-font-size);
    font-style: bold;

    box-sizing: border-box;
}

/* --- Task title (input) --- */
.mcb-title-content-input {
    transition: border 0.25s ease;
    transition: box-shadow 0.25s ease;

    margin: 10px auto;
    padding: 0 10px;

    width: 100%;
    height: 37px;

    background-color: var(--bg-color);
    color: var(--general-font);

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-style: bold;

    border: 2px solid var(--b-color);
    border-radius: 7px;

    box-sizing: border-box;
    box-shadow: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 20;
}

.mcb-title-content-input:hover {
    border: 2px solid rgba(50, 100, 218, 0.27);

    box-shadow: 0px 0px 10px rgba(50, 100, 218, 0.27);
}

.mcb-title-content-input:focus {
    border: 2px solid #3264da;

    box-shadow: 0px 0px 10px rgba(50, 100, 218, 0.7);
}

/* --- Task invalid title (input) --- */
.mcb-title-content-invalid-input {
    transition: border 0.25s ease;
    transition: box-shadow 0.25s ease;

    margin: 10px auto;
    padding: 0 10px;

    width: 100%;
    height: 37px;

    background-color: var(--bg-color);
    color: var(--general-font);

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-style: bold;

    border: 2px solid rgba(218, 50, 50, 0.27);

    box-shadow: 0px 0px 10px rgba(218, 50, 50, 0.27);

    border-radius: 7px;

    box-sizing: border-box;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 20;

    animation: shake var(--time-anim-shake) var(--type-anim);
}

.mcb-description-content-invalid-input:hover {
    border: 2px solid rgba(218, 50, 50, 0.55);

    box-shadow: 0px 0px 10px rgba(218, 50, 50, 0.55);
}

.mcb-description-content-invalid-input:focus {
    border: 2px solid #da3232;

    box-shadow: 0px 0px 10px rgba(218, 50, 50, 0.7);
}

@media screen and (max-width: 500px) {

    /* --- Task title --- */
    .mcb-title-content {
        padding: 8px 20px;
    }

    /* --- Task title (text) --- */
    .mcb-title-content-text {
        margin: 5px 0;

        font-size: 10px;
    }

    /* --- Task title (input) --- */
    .mcb-title-content-input {
        height: 34px;
    }
}

/* --- Task description --- */
.mcb-description {
    margin-bottom: 20px;

    min-width: 100%;

    box-sizing: content-box;

    animation: move-top var(--time-anim-move-top) var(--type-anim) forwards;
    animation-delay: calc(var(--time-delay) * 2);

    opacity: 0;
}

.mcb-description-content {
    margin: 0 auto;
    padding: 10px 20px;

    background-image: linear-gradient(to bottom, var(--bg-task-gradient-start), var(--bg-task-gradient-end));

    width: 80%;
    max-width: 750px;

    height: 100%;

    box-sizing: border-box;

    border: 2px solid var(--b-color);
    border-radius: 13px;
}

/* --- Task description (text) --- */
.mcb-description-content-text {
    margin: 10px 0;

    width: 100%;

    color: var(--general-font);

    font-family: "Montserrat", sans-serif;
    font-weight: 430;
    font-size: var(--g-font-size);
    font-style: bold;

    box-sizing: border-box;
}

/* --- Task description (textarea) --- */
.mcb-description-content-input {
    transition: border 0.25s ease;
    transition: box-shadow 0.25s ease;

    margin: 10px auto;
    padding: 10px;

    width: 100%;
    height: 150px;

    background-color: var(--bg-color);
    color: var(--general-font);

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-style: bold;

    border: 2px solid var(--b-color);
    border-radius: 7px;

    box-sizing: border-box;
    box-shadow: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 20;

    resize: none;
}

.mcb-description-content-input:hover {
    border: 2px solid rgba(50, 100, 218, 0.27);

    box-shadow: 0px 0px 10px rgba(50, 100, 218, 0.27);
}

.mcb-description-content-input:focus {
    border: 2px solid #3264da;

    box-shadow: 0px 0px 10px rgba(50, 100, 218, 0.7);
}

/* --- Task invalid description (textarea) --- */
.mcb-description-content-invalid-input {
    transition: border 0.25s ease;
    transition: box-shadow 0.25s ease;

    margin: 10px auto;
    padding: 10px;

    width: 100%;
    height: 150px;

    background-color: var(--bg-color);
    color: var(--general-font);

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-style: bold;

    border: 2px solid rgba(218, 50, 50, 0.27);

    box-shadow: 0px 0px 10px rgba(218, 50, 50, 0.27);

    border-radius: 7px;

    box-sizing: border-box;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 20;

    resize: none;

    animation: shake var(--time-anim-shake) var(--type-anim);
}

.mcb-description-content-invalid-input:hover {
    border: 2px solid rgba(218, 50, 50, 0.55);

    box-shadow: 0px 0px 10px rgba(218, 50, 50, 0.55);
}

.mcb-description-content-invalid-input:focus {
    border: 2px solid #da3232;

    box-shadow: 0px 0px 10px rgba(218, 50, 50, 0.7);
}

@media screen and (min-width: 501px) and (max-width: 600px) {
    .mcb-description-content-input {
        height: 150px;
    }
}

@media screen and (max-width: 500px) {

    /* --- Task description --- */
    .mcb-description-content {
        padding: 8px 20px;
    }

    /* --- Task description (text) --- */
    .mcb-description-content-text {
        margin: 5px 0;
    }

    /* --- Task description (input) --- */
    .mcb-description-content-input {
        height: 100px;
    }
}

@media screen and (max-width: 300px) {
    .mcb-description-content-text {
        font-size: 10px;
    }
}

/* --- Task status --- */
.mcb-footer {
    margin-bottom: 70px;

    min-width: 100%;

    box-sizing: content-box;

    animation: move-top var(--time-anim-move-top) var(--type-anim) forwards;
    animation-delay: calc(var(--time-delay) * 3);

    opacity: 0;
}

.mcb-footer-content {
    margin: 0 auto;
    padding: 10px 20px;

    background-image: linear-gradient(to bottom, var(--bg-task-gradient-start), var(--bg-task-gradient-end));

    width: 80%;
    max-width: 750px;

    height: 100%;

    box-sizing: border-box;

    border: 2px solid var(--b-color);
    border-radius: 13px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Class icon --- */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 350,
        'GRAD' 0,
        'opsz' 20
}

/* --- Task confirm (button) --- */
.mcb-footer-content-button {
    transition: border 0.25s ease;
    transition: box-shadow 0.25s ease;

    margin: 10px auto;
    padding: 7px;

    width: 100%;
    height: 37px;

    background-color: #104666;
    color: #fff;

    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 15px;
    font-style: bold;

    border: none;
    border-radius: 7px;

    box-sizing: border-box;
    box-shadow: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 20;
}

.mcb-footer-content-button:hover {
    background-color: #195d85;
    color: #fff;

    box-shadow: 0px 0px 10px rgba(31, 102, 143, 0.55);
}

.mcb-footer-content-button:active {
    background-color: #2675a3;
    color: #fff;

    box-shadow: 0px 0px 10px rgba(37, 114, 160, 0.7);
}

.mcb-footer-content-invalid-button {
    transition: border 0.25s ease;
    transition: box-shadow 0.25s ease;

    margin: 10px auto;
    padding: 7px;

    width: 100%;
    height: 37px;

    background-color: #0a2230;
    color: #929292;

    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 15px;
    font-style: bold;

    border: none;
    border-radius: 7px;

    box-sizing: border-box;
    box-shadow: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 20;
}

.mcb-footer-content-invalid-button:hover {
    animation: shake-2 var(--time-anim-shake) var(--type-anim);
}

@media screen and (min-width: 601px) and (max-width: 850px) {

    .mcb-footer-content-button,
    .mcb-footer-content-invalid-button {
        width: 100%;

        margin: 20px 0;
    }
}

@media screen and (min-width: 501px) and (max-width: 600px) {

    .mcb-footer-content-button,
    .mcb-footer-content-invalid-button {
        width: 100%;

        margin: 20px 0;
    }
}

@media screen and (max-width: 500px) {
    .mcb-footer-content {
        padding: 8px 20px;
    }

    .mcb-footer-content-button,
    .mcb-footer-content-invalid-button {
        width: 100%;

        margin: 10px 0;
    }
}

@media screen and (max-width: 300px) {
    .mcb-footer-content-button {
        font-size: 12px;
    }
}

/* --- Scroll bar (body) --- */
body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }
}

@keyframes shake-2 {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-3px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(3px);
    }
}

@keyframes move-top {
    0% {
        transform: translateY(var(--margin-top));
    }

    100% {
        transform: translateY(0);

        opacity: 1;
    }
}

@keyframes wait-move-top {
    0% {
        overflow-y: hidden;
    }

    100% {
        overflow-y: auto;
    }
}